.item-card {
  border: 1px solid #ccc; /* Add borders for visualization */
  padding: 10px; /* Add padding to the cards */
}

.item-card-img {
  height: 200px; /* Set the fixed height for the image section */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-card-content {
  height: 100px; /* Set the fixed height for the content section */
}

.item-card-title {
  font-weight: bold;
}

.item-card-price {
  font-weight: 600;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.prod_img {
  justify-content: center;
}
